core:
  secretKey: test
  email: snutt@wafflestudio.com
  mongo:
    uri: mongodb://localhost/snutt
  redis:
    url: redis://localhost
  fcm:
    apiKey: testapikey
    projectId: testprojectid
  feedback2github:
    token: testapikey
    repo:
      owner: wafflestudio
      name: snutt-feedbacks

api:
  host: localhost
  port: 3000
  snuttev:
    url: http://localhost:5000
  winston:
    path: './snutt-api.log'
    datePattern: 'YYYY-MM-DD'
    daysToKeep: 30
    logLevel: debug
  morgan:
    path: './snutt-api-access.log'
    datePattern: '.yyyy-MM-dd'
    daysToKeep: 30

batch:
  winston:
    path: './snutt-batch.log'
    datePattern: 'YYYY-MM-DD'
    daysToKeep: 30
    logLevel: debug
