files:
  "/usr/local/bin/cron_coursebook.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      # Now run commands that should run on only 1 instance.
      CONTAINER=`sudo docker ps | awk '$1!="CONTAINER" {print $1}'`
      sudo docker exec $CONTAINER /usr/local/bin/node /app/build/src/batch/coursebook


  "/etc/cron.d/cron_coursebook":
    mode: "000755"
    owner: root
    group: root
    content: |
      #40 10 * * * root /usr/local/bin/cron_coursebook.sh
      #0 21 * * * root /usr/local/bin/cron_coursebook.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/cron_coursebook.bak"
    ignoreErrors: true

container_commands:
  001-uncomment-cron:
    command: "sed -i -e 's/#//' /etc/cron.d/cron_coursebook"
    leader_only: true
