name: Deploy Manual

on:
  workflow_dispatch:
    inputs:
      target_branch:
        description: '배포할 브랜치명'
        required: true
        type: string
      ecr_repository:
        description: 'ECR 리포지토리 (예: snutt-dev/snutt-timetable)'
        required: true
        type: string
      dockerfile:
        description: 'Dockerfile 경로 (예: api/Dockerfile)'
        required: true
        type: string

jobs:
  deploy:
    uses: ./.github/workflows/_deploy.yml
    with:
      target_branch: ${{ inputs.target_branch }}
      ecr_repository: ${{ inputs.ecr_repository }}
      dockerfile: ${{ inputs.dockerfile }}
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
